#mapid {
  height: 600px;
}

.navbar-light .navbar-brand, .update-text, body {
    color: white;
}

.totals {
  background-color: rgb(61, 61, 61);
}

body, .bg-dark {
    background: rgb(26, 26, 26);
}

.bg-dark {
    background: rgb(88, 88, 88)!important
}

.upper-charts, .lower-charts, #upper-left-chart {
    height: 400px;
}

.totals-numbers {
    font-size: 5rem;
}

.modebar{
  display: none !important;
}

.map {
    padding-right: 15px;
    padding-left: 15px;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.orange {
  stroke: orange;
}

.green {
  stroke: green;
}

.node {
  cursor: pointer;
  stroke: #7A7A7A;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.spread-charts {
  background-color: rgb(88, 88, 88);
}
