<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../static/css/style.css">


    <title>COVID-19</title>

  </head>

  <body>

    <nav class='navbar navbar-expand-lg navbar-light bg-dark'>
      <a class="navbar-brand" href="/api">
        API Access
      </a>
      <div id='last-updated' class='update-text ml-auto'></div>
    </nav>

    <!-- Totals at top of page -->
    <div class="totals row" style="margin: 0 0 20px 0;">

      <!-- Confirmed Cases -->
      <div class="col-md-4 text-center">
        <div id='total-infected-number' class='totals-numbers'>

        </div>
        <div class='totals-text pb-3'>
          Confirmed Cases
        </div>
      </div>

      <!-- Deaths -->
      <div class="col-md-4 text-center">
        <div id ='total-deaths-number' class='totals-numbers'>

        </div>
        <div class='totals-text'>
          Deaths
        </div>
      </div>

      <!-- Countries -->
      <div class="col-md-4 text-center">
        <div id='total-countries-number' class='totals-numbers'>

        </div>
        <div class='totals-text'>
          Countries
        </div>
      </div>

    </div>

    <div class="container-lg">

      <div id="intro">
        <div class="intro-backgroundimage"></div>
        <div id='intro-container'>
          <div class="row justify-content-center h-100">
            <div class="col-md-8 my-auto text-center">
              <h2>In December 2019, an outbreak of pneumonia occured near the Huanan Seafood Market in Wuhan, China</h2>
              <h4 class='intro-subtitle'>By the end of January, over 57 million people were quarantined in 16 cities
                throughout Hubei province</h4>
            </div>
          </div>
        </div>
      </div>


        <div class="row" style="margin-top: 200px; margin-bottom: 200px;height: 500px;">
          <div class="col-md-5 my-auto" style="height: 400px">
            <div class="newyear-backgroundimage"></div>
            <div id='newyear-container'>
              <div class="row justify-content-center h-100">
                <div class="col-md-12 my-auto text-center">
                  <h3>Assisted by the Chinese new year migration, the virus initially spread to other Chinese provinces</h3>
                  <h5 class='intro-subtitle'>The spread has largely been contained to Wuhan's province (Hubei)</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div id='stackedBar' style="height: 500px"></div>
          </div>
        </div>

      <div id="spread" style="margin-bottom: 30px;">
        <div class="spread-backgroundimage"></div>
        <div id='spread-container'>
          <div class="row justify-content-center h-100">
            <div class="col-md-8 my-auto text-center">
              <h3>The virus was soon carried to other countries by international travellers</h3>
            </div>
          </div>
        </div>
      </div>

      <!-- Interactive Map -->
      <div id="mapid"></div>

      <div id="news" style="margin-top: 250px; margin-bottom: 30px;">
        <div class="newsfeed-backgroundimage"></div>
        <div id='newsfeed-container'>
          <div class="row justify-content-center h-100">
            <div class="col-md-8 my-auto text-center">
              <h3>News quickly spread about COVID-19 as the WHO declared a global health emergency</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="news-feed row justify-content-center">
        <div class="col-md-8 my-auto">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

            </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span></a>

          </div>
        </div>
        <div class="col-md-4 my-auto">
          <div class="row justify-content-center" style='margin-left: 10px;'>
            <a class="twitter-timeline" data-height="500" data-theme="dark" href="https://twitter.com/V2019N?ref_src=twsrc%5Etfw">Tweets by V2019N</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

          </div>
        </div>
      </div>

      <div id ="global" class="row ml-3 mr-3" style="height: 900px;">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div id="china-vs-world-infections-chart" style="height: 450px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="world-countries-infections-chart" style="height: 450px;"></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div class="global-backgroundimage"></div>
          <div id="global-container">
            <div class="row justify-content-center h-100">
              <div class="col-md-12 pl-4 my-auto text-center">
                <h4>The spread of the virus in other countries has been minimized due to quarantine and travel restrictions
                </h4>
                <h5 class='intro-subtitle'>The virus has primarily spread among passengers on the cruise ship "Diamond Princess"</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center" style="margin-top: 200px; margin-bottom: 200px">
        <div class="col-md-12">
          <div id="streamChart" style="height: 900px"></div>
        </div>
      </div>

      <div id="deaths" class="row ml-3 mr-3" style="height: 900px;">
        <div class="col-md-4 text-center">
          <div class="deaths-backgroundimage"></div>
          <div id="deaths-container">
            <div class="row justify-content-center h-100">
              <div class="col-md-12 pl-4 my-auto text-center">
                <h3>Recoveries outpace deaths and mortality rate has stabalized</h3>
                <h4 class='intro-subtitle'>Most of those who died were older patients – about 80% of deaths recorded were from those over the age of 60, and 75% had pre-existing health conditions including cardiovascular diseases and diabetes</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div id="deaths-vs-recovered-chart" style="height: 450px;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="mortality-rate-chart" style="height: 450px;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center" style="margin-top: 300px;">
        <div class="col-md-12">
          <div id="rates-comparison" style="height: 600px"></div>
        </div>
      </div>

      <div class="row justify-content-center" style="margin-bottom: 300px;">
        <div class="col-md-6">
          <div id="sarscoronaConfirmed" style="height: 450px"></div>
        </div>
        <div class="col-md-6">
          <div id="sarscoronaDeaths" style="height: 450px"></div>
        </div>
      </div>


      <div id="spreadChart">
        <div class="spreadChart-backgroundimage"></div>
        <div id='spreadChart-container'>
          <div class="row justify-content-center h-100">
            <div class="col-md-8 my-auto text-center">
              <h2>The R<sub>0</sub> ("R naught") value of COVID-19 is currently estimated to be 3</h2>
              <h4 class='spreadChart-subtitle'>This means that one person infected with the virus will likely spread it to 3 other individuals</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- Spread charts below bottom charts -->
      <div class="spread-charts row justify-content-center" style="margin-bottom: 300px;">
        <div class="col-mg-5">
          <div id='corona-chart'><div><p>Circles = Infected Patient<br>Lines = Spread<br>Click circles to collapse/expand</p></div></div>
        </div>
      </div>



      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <p>Created by Terra Thompson & John Loper</p>
        </div>
      </div>

    </div>


  </body>

  <!-- d3 -->
  <script src="../static/js/d3.v3.min.js"></script>
    <script src="../static/js/coronavirus.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>

  <!-- plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- leaflet  -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>


  <!-- highcharts -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/item-series.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/streamgraph.js"></script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- local  -->
  <script src="../static/js/index.js"></script>
  <script src="../static/js/news_feed.js"></script>
  <script src="../static/js/leaflet.timeline.js"></script>
  <script src="../static/js/map.js"></script>

  <!-- Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </html>
